
* {
    font-family: 'Oswald', sans-serif;
}

.grad {
    background: repeating-linear-gradient(rgb(6, 6, 40),rgb(41, 24, 84),rgb(6, 6, 40));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid beige;

}

ul {
    display: flex;
    list-style-type: none;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: beige;
    font-size: 24px;
}


.bio {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}


.flexbox-item-name {
    margin: 10px;
    padding: 10rem 10rem 2rem 10rem;
    font-size: 3rem;
    color: beige;
}

.flexbox-item-bio {
    text-align: center;
    width: 50%;
    height: auto;
    color: beige;
}

#showcase-title{
    color: beige;
    text-decoration: underline;
    padding-left: 2rem;
}

.photoshowcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%
}

.gallery .photo{
    flex-basis: 33.33%;
    min-width: 0;
    padding:5px;
    box-sizing: border-box;
}

.gallery img {
    max-width: 100%;
    max-height: auto;
}

.socialbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.socialbox h3 {
    font-size: 30px;
    text-decoration: underline;
    color: cyan;
    margin-bottom: 5px;
}

.socialbox .icons img  {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    background-color: cyan;
    transition: 0.3 ease;
}

.socialbox .icons img:hover {
    transform: rotate(15deg);
}