
* {
    font-family: 'Oswald', sans-serif;
}

.grad {
    background: repeating-linear-gradient(rgb(6, 6, 40),rgb(41, 24, 84),rgb(6, 6, 40));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid beige;

}

ul {
    display: flex;
    list-style-type: none;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: beige;
    font-size: 24px;
}


.bio {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.flexbox-item {
    border: 3px solid black;

}

.flexbox-item-name {
    margin: 10px;
    padding: 10rem 10rem 2rem 10rem;
    font-size: 3rem;
    color: beige;
}

.flexbox-item-bio {
    text-align: center;
    width: 50%;
    height: auto;
    color: beige;
}

#showcase-title{
    color: beige;
    text-decoration: underline;
    padding-left: 2rem;
}

#icons {
    image-rendering: auto;
}